.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 7px;
    height: 300px;
}

.card:nth-child(1){
    width: 60%;
    background-image:  url('/public/card-skills-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 6px 6px -1px rgba(250, 246, 246, 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: rgba(0, 0, 0, 0.949);
    
}

.card:nth-child(2){
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgb(159, 82, 0) 60%); */
    width: 25%;
    background-color: rgba(74, 48, 0, 0.288);
    background-image:  url('/public/card-skills-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 6px 6px -1px rgba(250, 246, 246, 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    background-color: rgba(0, 0, 0, 0.676);
}
    .card:nth-child(3){
        width: 50%;
        background-color: hsla(342, 80%, 8%, 0.360);
        
        
    }
    .card:nth-child(4){
            width: 30%;
            background-color: hsla(0, 0%, 4%, 0.208);
        }
    
    .card:nth-child(5){
        width: 40%;
        height: 400px;
        background-color: hsla(342, 80%, 8%, 0.360);
    }

    .card:nth-child(6){
        width: 40%;
        height: 400px;
        background-color: hsla(0, 0%, 4%, 0.208);
    }

    .card:nth-child(7){
        width: 90%;
        height: auto;
        background-color: hsla(342, 80%, 8%, 0.360);
    }

    .card:nth-child(8){
        width: 25%;
        height: 600px;
    }
    
    .video-background {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        z-index: -1;
    }
    
    .video-background video {
        position: absolute;
        top: 0; 
        left: 0; 
        width: 100vw; 
        height: 2000px; 
        object-fit: cover; 
        z-index: -1;
        opacity: 0.5;
    }
    
  
